<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include
		resource="org/springframework/boot/logging/logback/defaults.xml" />

	<include
		resource="org/springframework/boot/logging/logback/console-appender.xml" />


	<springProfile name="!local">
		<property name="LOG_FILE" value="/var/log/spring/basepage.log}" ></property>
			<include
		resource="org/springframework/boot/logging/logback/file-appender.xml" />
		<root level="INFO">
			<appender-ref ref="FILE" />
		</root>
	</springProfile>

	<springProfile name="local">
		<property name="LOG_FILE" value="log/spring.log}" />
			<include
		resource="org/springframework/boot/logging/logback/file-appender.xml" />
		<root level="INFO">
			<appender-ref ref="FILE" />
			<appender-ref ref="CONSOLE" />
		</root>
	</springProfile>
	
	<springProfile name="test">
		<root level="INFO">
			<appender-ref ref="CONSOLE" />
		</root>
	</springProfile>
</configuration>